.btn-primary {
    background: #313461;
    border-color: #313461;
}

.jumbotron {
    background: #444 url('../img/aguapure.png') 0px 0px no-repeat;
    color: #fff;
    text-align: center;
    border-bottom: 5px #f4f4f4 solid;
    size: n-resize;
}

.jumbotron-main {
    padding: 0 60px 40px 60px;
}

.jumbotron-main h1 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.jumbotron p.lead {
    font-size: 25px;
    margin-bottom: 60px;
    color: #ffffff;
}

.jumbotron-sub {
    padding: 0 60px 40px 60px;
}

.navbar {
    margin: 0;
    color: #fff;
}

.navbar a {
    color: #fff;
    margin-bottom: 3px;
}

.navbar a:hover {
    background: none !important;
    border-bottom: #fff 3px solid;
    margin-bottom: 0;
}

.box {
    text-align: center;
}

.box .glyphicon {
    font-size: 50px;
}

.section-a {
    background: #313461;
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
}

.section-a h1 {
    font-size: 80px;
}

.img-full {
    width: 50%;
}

.img-full2 {
    width: 80%;
}

.img-full3 {
    width: 80%;
    padding-left: 80px;
}

.main-footer {
    background: url('../img/footer.png') no-repeat 0px -10px;
    position: center;
    padding: 30px;
    overflow: hidden;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(163, 175, 182);
    color: white;
    text-align: center;
}

.position-1 {
    position: relative;
    margin-top: 40px;
}

.position-1 img {
    opacity: 0.5;
}

.position-1 img:hover {
    opacity: 1;
}

.position-2 {
    position: relative;
    margin-top: 30px;
}

.col-md-6 h1 {
    color: rgb(81, 175, 251);
    font-size: 30px;
}

.list-unstyled h3 {
    color: black;
}

.list-unstyled p {
    color: black;
}

.list-unstyled p {
    color: black;
}

.head h1 {
    font-size: 80px;
}

.color {
    color: rgb(8, 197, 255);
}

.color-blue {
    color: rgb(0, 153, 255);
}

.color-red {
    color: rgb(255, 0, 0);
}

.well {
    background-color: rgb(245, 245, 245);
}

.bg1 {
    background: url('../img/fullbg.jpg') no-repeat 0px 100px;
    overflow-x: hidden;
}

.opacity img {
    opacity: 0.5;
}

.opacity img:hover {
    opacity: 1.0;
}